{% extends 'dashboard/base.html' %} {% block headercontent %}
<section class="content-header">
    <h1>
        Quản trị VM
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Blank</li>
    </ol>
</section>
{% endblock %} {% block maincontent %}
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Xóa Server</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form method="POST" role="form" >
            {% csrf_token %}
            <div class="box-body">
                <div class="form-group">
                    <label>ID Server</label>
                    <input class="form-control" id='key' name='key' value="{{id}} " readonly type="text">
                </div>
                <div class="form-group">
                    <label>Tên</label>
                    <input class="form-control" value="{{name}}" readonly type="text">
                </div>
                <div class="form-group">
                    <p class="help-block">Bạn có muốn xóa VM</p>
                </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'server_list' %}" type="button" class="btn btn-primary">Hủy</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}