{% extends 'authencation/base.html' %} {% load static %} {% block maincontent %}
<div class="login-box">
    <div class="login-logo">
            <b>Dash</b>board
    </div>
    
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input id="username" name="username" type="text" class="form-control" placeholder="User">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="password" name="password" type="password" class="form-control" placeholder="Password">                
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a>
        <br>
        <a href="{% url 'registered_view' %}" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
{% endblock %}