{% extends 'authencation/base.html' %} {% load static %} {% block maincontent %}
<div class="login-box">
    <div class="login-logo">
            <b>Dash</b>board
    </div>

    {% if form.errors %}
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Notification</h3>
        </div>

        {% for field in form %} {% for error in field.errors %}
        <div class="box-body">
            {{ error|escape }}
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="box-body">
            {{ error|escape }}
        </div>
        {% endfor %}


    </div>
    {% endif %}
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="User">
                
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password">
                
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!-- /.social-auth-links -->

        <a href="#">I forgot my password</a>
        <br>
        <a href="{% url 'registered_view' %}" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
</div>
{% endblock %}